<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/pages/navbar.css">
    <script defer src="/assets/js/navbar.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <img src="/assets/imgs/login-icon.svg" alt="login-icon" width="35px"/>
                <div class="logo_name">Estuda aí!</div>
            </div>
            <i class='bx bx-dock-left' id='btn'></i>
        </div>

        <div class="src">
            <i class='bx bx-search-alt-2' ></i>
            <input type="text" placeholder="Pesquisar...">
        </div>

        <ul class="nav">
            <li>
                <a href="#">
                    <i class='bx bxs-dashboard'></i>
                    <span class="link_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-message-dots'></i>
                    <span class="link_name">Chat</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-bar-chart-square' ></i>
                    <span class="link_name">Estatísticas</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-calendar' ></i>
                    <span class="link_name">Calendário</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-cog'></i>
                    <span class="link_name">Settings</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="home_content">
        <div class="text">Home Content</div>
    </div>

    <script>
        let btn = document.querySelector('#btn');
        let sidebar = document.querySelector('.sidebar');
        let srcBtn = document.querySelector('.bx-search-alt-2');

        btn.onclick = function(){
            sidebar.classList.toggle('active');
        }
        srcBtn.onclick = function(){
            sidebar.classList.toggle('active');
        }
    </script>
</body>
</html>

<!-- //min 2:52 https://www.youtube.com/watch?v=1xjvvp2nWP0 -->